<!-- #events -->
<div id="events" class="wrapper">

<!-- .title -->
<hgroup class="title clearfix">
  <h1>イベントを新規作成</h1>
</hgroup>
<!-- //.title -->

<!-- .contetns -->
<div id="events-new" class="contents form clearfix">

<%= render 'form' %>

</div>
<!-- //.contetns -->

</div>
<!-- //#events -->

<%= link_to 'Back', events_path %>
